* {background-color: rgb(227, 255, 255);
}

nav {display: flex;
justify-content: center;
}

.nav_links ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
    gap: 40px;
    text-decoration: none;
    margin-left: 600px;
    text-decoration-color: aqua;
}


